apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Use service DNS (when Prometheus is deployed on the same Docker network)
    url: http://prometheus:9090
    isDefault: true
    editable: true
